
.dj-col {
  height: 120px;
  background-color: #09f;
  line-height: 120px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  transition: all .3s;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    transform: scale(1.1);
  }
}