.anchor_wrapper {
  width: 200px;
  max-height: 100vh;
  margin-left: -4px;
  padding-left: 4px;
  overflow: auto;
  background-color: transparent;

  &_sticky {
    position: sticky;
    top: 0;
  }

  .anchor {
    box-sizing: border-box;
    margin: 0;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    padding: 0 0 0 2px;

    .anchor_link {
      margin-left: 16px;
      line-height: 1.5;
      height: 100%;

      .anchor_link_title {
        text-decoration: none;
        cursor: pointer;
        position: relative;
        display: block;
        margin-bottom: 6px;
        overflow: hidden;
        color: #000000d9;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: all .3s;

        &_active,  &:hover {
          color: #40a9ff;
        }
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}