@mixin whSet ($w, $h) {
  width: $w;
  height: $h;
  box-sizing: border-box;
}

@mixin flexLayout($dir: row, $ali: center, $jusc: center, $flw: nowrap) {
  display: flex;
  flex-direction: $dir;
  align-items: $ali;
  justify-content: $jusc;
  flex-wrap: $flw;
}
