@mixin size ($w, $h) {
  width: $w;
  height: $h;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-index {
  @extend .flex;
  height: 100%;
  .prize-wrap {
    display: flex;
    flex-wrap: wrap;
    @include size(600px, 600px);
    .prize-item {
      flex: 1;
      box-sizing: border-box;
      min-width: 200px;
      list-style: none;
      border: 1px solid #000;
      &.active {
        background: linear-gradient(to bottom, #ffdea4, #f08bfe);
      }
      &.prize-desc {
        @extend .flex;
        flex-direction: column;
      }
    }
  }
}