.container {
  min-height: 100vh;
  height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3eaf7c;
  color: #fff;
}

.rbtn {
  margin-top: 30px;
}